[Unit]
Description=Spotbq Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ec2-user/spotbq
ExecStart=/home/ec2-user/spotbq/run-spotbq.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
